img {
        float: left;
    }

ul  {
    list-style-type: none;
    margin: 10;
    padding: 0;
    overflow: hidden;
    background-color: #323;
    }

li {
    float: left;
    }

li a 
    {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }

li a:hover 
        {
    background-color: #131;
        }


#tittle 
        {
	color: rgb(255, 85, 76);
	font-size: 40px;
	text-align: center;
	border:10px solid red;
    border-radius: 20px;
    border: 3px
        }


.navbar {
	width: 100%;
	margin: 10 auto;
	background-color: lightblue;
        }


